Source: libsgl-qtglue
Priority: optional
Maintainer: Enrico Reimer <reimer@cbs.mpg.de>
Build-Depends: debhelper (>= 4.0.0), libsgl-dev
Standards-Version: 3.6.1

Package: libsgl-qtglue-dev
Section: libdev
Architecture: i386 amd64
Depends: libsgl-qtglue (= ${Source-Version}), libsgl-dev
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: libsgl-qtglue
Section: libs
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, libsgl
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
